@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}
.visually-hidden {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* Pages */

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  column-gap: 30px;
  margin: 0 auto;
}
.navigation-logo {
  position: relative;
  width: 140px;
  margin-bottom: -6px;
}
.logo-navigation-list {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  position: relative;
}
.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}
.navigation-link:hover {
  opacity: 0.6;
}
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}
.navigation-user-item {
  position: relative;
}
.navigation-user .navigation-user-item:first-child .navigation-link {
  background-image: url(..//images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 32px 22px;
  background-color: transparent;
}
.navigation-user .navigation-user-item:nth-child(2) .navigation-link {
  background-image: url(..//images/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.navigation-link-button {
  color: #ffffff;
  padding: 8px 10px;
  background-color: #756157;
  width: 160px;
  margin-left: 13px;
}
.navigation-link-button:hover {
  background-color: #615048;
}
.navigation-link-button:focus-visible {
  background-color: #615048;
}
.navigation-link-button:active {
  background-color: #756157;
}
.navigation-link-button:disabled {
  background-color: #e5e5e5;
}

/*button*/
.button {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 10px;
}

.navigation-button {
  color: #ffffff;
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
}
.favorite-tag {
  position: absolute;
  top: 9px;
  left: 23px;
  max-width: 30px;
  min-width: 20px;
  min-height: 20px;
  padding: 4px 5px;
  overflow: hidden;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #7db54f;
}

/*main*/

.main-hero {
  color: #ffffff;
  background-image: url(../images/divider.svg),
    url(../images/index-background.jpg);
  padding-top: 51px;
  padding-bottom: 82px;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-color: #2e4650;
}
.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*advantages*/

.advantages {
  color: #000000;
  background: #ffffff;
  text-align: center;
}
.advantages-hero {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 620px;
  margin: 69px auto 25px;
  text-align: center;
}
.advantages-about {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 69px;
  text-align: center;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}
.advantages-list-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  padding: 103px 85px 85px;
  box-sizing: border-box;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-description-dark {
  color: #333333;
}
.advantages-title {
  max-width: 175px;
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
}
.advantages-description {
  margin: 0;
  text-align: center;
}

.advantages-item-picture {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #82b3d3;
}
.reversed {
  flex-direction: row-reverse;
}
.advantages-item-dark {
  background: rgba(131, 179, 211, 0.2);
}

/*services*/

.services {
  text-align: center;
}
.services-hero {
  color: #000000;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 505px;
  margin: 0 auto 20px;
  text-align: center;
}
.services-about {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 64px;
  padding: 0 70px;
  text-align: center;
}
.services-list {
  display: flex;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.services-description {
  margin: 0;
  text-align: center;
}

.services-list-item {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 80px;
  background-repeat: no-repeat;
  background-position: top 80px center;
  box-sizing: border-box;
}
.services-list .services-list-item:first-child {
  background-image: url(../images/icons/Icon=home.svg);
}
.services-list .services-list-item:nth-child(2) {
  background-image: url(../images/icons/Icon=food.svg);
}
.services-list .services-list-item:last-child {
  background-image: url(../images/icons/Icon=souvenir.svg);
}
.services-item-dark {
  background-color: rgba(131, 179, 211, 0.12);
}
/*.hotel-search*/

.hotel-search {
  background-color: #ffffff;
  text-align: center;
  padding: 96px 304px 194px;
}
.hotel-search-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}
.hotel-search-button {
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #756157;
}
.hotel-search-button:hover {
  background-color: #615048;
}
.hotel-search-button:focus-visible {
  background-color: #615048;
}
.hotel-search-button:active {
  background-color: #756157;
}
.hotel-search-button:disabled {
  background-color: #e5e5e5;
}
/*footer*/
.page-footer {
  background-color: #ffffff;
}
.subscribe {
  color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px 258px;
}
.subscribe-form {
  display: flex;
  align-items: stretch;
  width: 684px;
}
.subscribe-index {
  background: url(../images/Subscribe.jpg);
  background-color: #064868d4;
  background-size: cover;
  background-repeat: no-repeat;
}
.subscribe-catalog {
  color: #000000;
  background-color: #ffffff;
}
.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}
.field {
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  flex-grow: 1;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}
.subscribe-button {
  width: 232px;
  font-family: inherit;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}
.subscribe-button:hover {
  background-color: #68a2ca;
}
.subscribe-button:focus-visible {
  background-color: #68a2ca;
}
.subscribe-button:active {
  background-color: #82b3d3;
}
.subscribe-button:disabled {
  background-color: #e5e5e5;
}
.footer-contacts {
  display: flex;
  padding: 40px 70px 30px;
}
.contacts {
  display: flex;
  padding: 40px 70px 30px 70px;
  flex-direction: row;
  align-items: center;
}
.socials-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  min-width: 142px;
  align-items: center;
}
.socials-link {
  color: #83b3d3;
  display: flex;
  justify-content: center;
  width: 20px;
  min-height: 14px;
  box-sizing: border-box;
}
.socials-link:hover {
  color: #68a2ca;
}
.socials-link:focus-visible {
  color: #68a2ca;
}
.socials-link:active {
  color: rgba(104, 162, 202, 0.3);
}
.footer-contacts-phone {
  color: #000000;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-contacts-phone:hover {
  color: #756157;
}
.footer-contacts-phone:focus-visible {
  color: #756157;
}
.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  width: 115px;
  color: #000000;
}
.footer-logo:hover {
  color: #756157;
}
.footer-logo:focus-visible {
  color: #756157;
}
.footer-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

/*catalog*/
.main-catalog-header {
  background-image: url("../images/catalog-background.jpg");
  padding: 35px 70px 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #68a2ca;
}

.main-catalog-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #ffffff;
}
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.breadcrumbs-item {
  display: flex;
  align-items: center;
}
.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 7px;
  height: 21px;
  margin: 0 10px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:focus-visible {
  color: #ffffff;
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}
.breadcrumbs-link-main {
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/Home-catalog.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150px 150px auto 191px;
  gap: 70px;
  color: #ffffff;
}
.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
.catalog-filter-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  line-height: 23px;
}

.catalog-filter-item:hover {
  opacity: 0.6;
}
.catalog-filter-item:active {
  opacity: 0.3;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.apply-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  width: 191px;
  height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.apply-button:hover {
  background-color: #68a2ca;
}
.apply-button:focus-visible {
  background-color: #68a2ca;
}
.apply-button:active {
  background-color: #82b3d3;
}
.apply-button:disabled {
  background-color: #e5e5e5;
}
.reset-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  width: 191px;
  height: 36px;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
}
.reset-button:hover {
  opacity: 0.6;
}
.reset-button:focus-visible {
  border: 3px solid #83b3d3;
  outline: none;
}
.reset-button:active {
  opacity: 0.3;
}
.reset-button:disabled {
  opacity: 0.1;
}
/*catalog-product*/

.catalog-products {
  padding: 50px 70px 60px;
}
.catalog-products-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 200px 0 0;
  width: 338px;
}
.catalog-products-select {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
  padding: 12px 35px 12px 18px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  cursor: pointer;
}
.catalog-products-select:hover {
  border: 2px solid #68a2ca;
}

.catalog-products-select:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.catalog-products-select:disabled {
  opacity: 0.3;
}
.catalog-view-mode {
  display: flex;
  flex-wrap: wrap;
}
.catalog-view-mode-item {
  margin-right: 8px;
}
.catalog-view-mode-item:last-child {
  margin: 0;
}
.view-mode-button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  cursor: pointer;
}
.view-mode-button-grid {
  background-image: url("../images/veiw-icon/View=table.svg");
}
.veiw-mode-button-card {
  background-image: url("../images/veiw-icon/View=slideshow.svg");
}
.view-mode-button-list {
  background-image: url("../images/veiw-icon/View=list.svg");
}

.view-mode-button-current {
  border: 2px solid #000000;
}
.view-mode-button:hover {
  border: 2px solid #000000;
}
.view-mode-button:focus-visible {
  border: 2px solid #68a2ca;
}
.view-mode-button:active {
  border: 2px solid #000000;
}
.catalog-products-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 38px;
  padding-bottom: 40px;
}
.catalog-products-card {
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  grid-template-rows: 272px auto auto auto;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}
.catalog-products-card-link {
  display: block;
  grid-column: 1/-1;
  text-decoration: none;
  color: #000000;
}
.catalog-products-img {
  display: block;
  grid-column: 1/-1;
}
.catalog-product-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.catalog-product-price {
  text-align: right;
  margin-bottom: 16px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.catalog-product-type {
  grid-column: 1/2;
}
.catalog-product-about {
  grid-column: 1/2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
}
.catalog-product-about:hover {
  background-color: #615048;
}
.catalog-product-about:focus-visible {
  background-color: #615048;
}
.catalog-product-about:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}
.catalog-product-about:disabled {
  background-color: #e5e5e5;
}
.catalog-product-favorite {
  font-family: inherit;
  grid-column: 2/3;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
}
.catalog-product-favorite:hover {
  background-color: #68a2ca;
}
.catalog-product-favorite:focus-visible {
  background-color: #68a2ca;
}
.catalog-product-favorite:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}
.catalog-product-favorite:disabled {
  background-color: #e5e5e5;
}
.catalog-product-stars {
  margin: auto 0;
  height: 17px;
  background-image: url("../images/icons/Star.svg");
  background-repeat: space no-repeat;
}
.catalog-product-stars-four {
  width: 89px;
}
.catalog-product-stars-three {
  width: 65px;
}
.catalog-product-stars-two {
  width: 42px;
}
.catalog-product-favorite-selected {
  background-color: #7db54f;
}
.catalog-product-favorite-selected:hover {
  background-color: #6c9e42;
}
.catalog-product-favorite-selected:focus-visible {
  background-color: #6c9e42;
}
.catalog-product-favorite-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}
.catalog-product-favorite-selected:disabled {
  background-color: #e5e5e5;
}
.catalog-product-rating {
  display: inline-block;
  grid-column: 2/3;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 20px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: inline-block;
  background-color: #82b3d3;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  min-width: 60px;
  padding: 12px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
}
.pagination-link-other {
  color: #000000;
  background-color: inherit;
  pointer-events: none;
}
.pagination-link:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}
.pagination-link:focus-visible {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}
.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}
.pagination-link:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}
.pagination-link-current {
  color: #000000;
  background: #f2f2f2;
  pointer-events: none;
}
